
*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
body{
    background-color: #E0F8E0;
}
a{
    text-decoration: none;
    font-weight: bold;
}
footer{
    background-color: #0077BE;
    color: white;
}
footer a{
    color: white;
}

/* Zona Header */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    margin: auto;
    width: 100%;  
    background-color: black;
}
nav > #logo{
    width: 10%;
    margin-left: 4%;
}
nav > #enlaces{
    margin-left: 20%;
    width: 85%;
}
#enlaces a{
    margin-left: 2%;
    font-size: 24px;
    color: white;
    font-family: 'Poppins', sans-serif ;
    font-weight: normal;
}
#enlaces a:last-child{
    margin-left: 35%;
    background-color: #FFD700;
    padding: 3% 1%;
    color: black;
}
#enlaces a:last-child:hover{
    background-color: #1ED8AB;
}

/* Zona Slider Index */
#slider1{
    margin: auto;
    align-items: center;
    width: 60%;
    padding-top: 2%;
}

/* Zona Img Index */
.contenedor-productos {
    display: flex;
    width: 70%;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: space-between;
    margin: auto;
}

.tarjeta-producto {
    text-align: center;
    max-width: 100%;
}

.imagen-producto {
    background-color: white;
    border-radius: 15px;
    padding: 10%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.imagen-producto img {
    width: 100px;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
}

.imagen-producto:hover {
    transform: scale(1.05);
}

.imagen-producto img {
    width: 100%;
    border-radius: 10px;
}

/* Zona Enlaces Index */
.descripcion-producto {
    font-weight: bold;
    margin-top: 10px;
    font-size: 24px;
    font-family:'Montserrat';
    text-align: center;
    color: #333;
}

#enlace .contenedor-productos div{
    margin: auto;
    text-align: center;
    width: 33%;
}

#enlace .contenedor-productos > div p{
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: bold;
    padding: 4% 0;
}
#enlace .contenedor-productos > div a{
    font-size: 20px;
    color: black;
    background-color: #FFD700;
    padding: 2% 9%;
    font-family: 'Montserrat';
}
#enlace .contenedor-productos > div a:hover{
    background-color: #1ED8AB;
    font-family: 'Montserrat';
}

/* Zona Destacados Index */
#destacados>div{
    width: 90%;
    margin: auto;
}
#destacados>div>h2{
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 4%;
    padding-top: 4%;
}
#destacados>div>div:nth-child(2){
    display: flex;
}
#destacados>div>div:nth-child(2)>div:nth-child(1) img{
    width: 70%;
}
#destacados>div>div:nth-child(2)>div:nth-child(2) h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 2%;
    font-weight: bold;
}
#destacados>div>div:nth-child(2)>div:nth-child(2){
    width: 80%;
}
#destacados>div>div:nth-child(2)>div:nth-child(2) p{
    width: 80%;
    text-align: center;
    margin: auto;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Montserrat';
    padding-bottom: 5%;
}




