
*{
    margin: 0;
    padding: 0;
}
p{
    font-family: 'Montserrat', sans-serif;
}
img{
    max-width: 100%;
}
body{
    background-color: #E0F8E0;
}
a{
    text-decoration: none;
    font-weight: bold;
}
/*  */


/* Zona Footer */
footer {
    background-color: #0077BE;
    color: white;
    padding: 20px 0;
    font-family: 'Poppins', sans-serif; 
}

footer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

footer .contacto,
footer .redes,
footer .enlaces {
    text-align: center;
    flex: 1;
    padding: 10px;
}

footer .contacto p {
    margin: 5px 0;
}

footer .redes h3 {
    margin-bottom: 5px;
    font-size: 18px;
}

footer .redes p {
    font-size: 14px;
    margin-bottom: 10px;
}

footer .iconos-redes {
    display: flex;
    justify-content: center;
    gap: 10px; 
}

footer .iconos-redes img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    transition: transform 0.3s;
    cursor: pointer;
}

footer .iconos-redes img:hover {
    transform: scale(1.2);
}

footer .enlaces a {
    display: block;
    margin: 5px 0;
    color: white;
    text-decoration: none;
    font-size: 14px;
    width: 100%;
    line-height: 22px;
    transition: color 0.3s;
}

footer .enlaces a:hover {
    color: #FFD700;
}

@media (max-width: 768px) {
    footer nav {
        flex-direction: column;
        text-align: center;
    }

    footer .contacto,
    footer .redes,
    footer .enlaces {
        flex: none;
        width: 100%;
        margin-bottom: 20px;
    }

    footer .iconos-redes img {
        width: 25px;
        height: 25px;
    }

    footer .enlaces a {
        font-size: 16px; 
    }
}

@media (max-width: 480px) {
    footer {
        padding: 15px 0;
    }

    footer .redes h3 {
        font-size: 16px;
    }

    footer .redes p {
        font-size: 12px;
    }
}

/*  */


/* Zona Header */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header{
    margin: auto;
    width: 100%;  
    background-color: black;
}
nav > #logo{
    width: 10%;
    margin-left: 4%;
}
nav > .e{
    margin-left: 10%;
    width: 85%;
}
.e a{
    margin-left: 2%;
    font-size: 24px;
    color: white;
    font-family: 'Poppins', sans-serif ;
    font-weight: normal;
}
.e a:last-child{
    margin-left: 38%;
    background-color: #FFD700;
    padding: 3% 1%;
    color: black;
}
.e a:last-child:hover{
    background-color: #1ED8AB;
}

@media (max-width: 1785px) {
    .e a:last-child{
        margin-left: 28%;
        background-color: #FFD700;
        padding: 3% 1%;
        color: black;
    }
}
@media (max-width: 1481px) {
    .e a:last-child{
        margin-left: 15%;
        background-color: #FFD700;
        padding: 2% 1%;
        color: black;
    }
}
@media (max-width: 1160px) {
    .e a:last-child{
        margin-left: 7%;
        background-color: #FFD700;
        padding: 1% 1%;
        font-size: 20px;
        color: black;
    }
    .e a{
        font-size: 20px;
    }
}
@media (max-width: 885px){
    nav > .e{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin: auto;
        line-height: 2;
    }
    header{
        padding-top: 2%;
        padding-bottom: 2%;
    }
    nav > #logo{
        width: 40%;
        margin-left: 4%;
    }
}
/*  */


/* Zona Slider Index */
.slider1{
    margin: auto;
    align-items: center;
    width: 50%;
    padding-top: 2%;
}
.slider1 img{
    min-height: 200px;
}

/*  */


/* Zona Img Index */
.contenedor-productos {
    display: flex;
    width: 70%;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: space-between;
    margin: auto;
}

.tarjeta-producto {
    text-align: center;
    max-width: 100%;
}

.imagen-producto {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    overflow: hidden;
    margin-right: 20%;
}

.imagen-producto img {
    width: 250px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.imagen-producto:hover {
    transform: scale(1.05);
}
/*  */


/* Zona Enlaces Index */
.descripcion-producto {
    font-weight: bold;
    margin-top: 10px;
    font-size: 24px;
    font-family:'Montserrat';
    text-align: center;
    color: #333;
}

#enlace .contenedor-productos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: auto;
    width: 70%;
}

#enlace .contenedor-productos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 33%;
}


#enlace .contenedor-productos > div p{
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: bold;
    padding: 4% 0;
}
#enlace .contenedor-productos > div a{
    font-size: 20px;
    color: black;
    background-color: #FFD700;
    padding: 2% 9%;
    font-family: 'Montserrat';
}
#enlace .contenedor-productos > div a:hover{
    background-color: #1ED8AB;
    font-family: 'Montserrat';
}
/*  */


/* Zona Destacados Index */
.destacados>div{
    width: 90%;
    margin: auto;
}
.destacados>div>h2{
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 4%;
    padding-top: 4%;
}
.destacados>div>div:nth-child(2){
    display: flex;
}
.destacados>div>div:nth-child(2)>div:nth-child(1) img{
    width: 70%;
}
.destacados>div>div:nth-child(2)>div:nth-child(2) h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 2%;
    padding-top: 5%;
    font-weight: bold;
}
.destacados>div>div:nth-child(2)>div:nth-child(2){
    width: 80%;
}
.destacados>div>div:nth-child(2)>div:nth-child(2) p{
    width: 70%;
    text-align: center;
    margin: auto;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Montserrat';
    padding-bottom: 5%;
}

.destacados > div > div:nth-child(3) {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 3%;
}

.destacados > div > div:nth-child(3) > div:nth-child(1) img {
    width: 70%;
}

.destacados > div > div:nth-child(3) > div:nth-child(2) {
    width: 80%;
    text-align: center;
}

.destacados > div > div:nth-child(3) > div:nth-child(2) h2 {
    padding-top: 5%;
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 2%;
    font-weight: bold;
}

.destacados > div > div:nth-child(3) > div:nth-child(2) p {
    width: 70%;
    margin: auto;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Montserrat';
    padding-bottom: 5%;
}
@media (max-width: 768px) {
    .slider1 {
        width: 90%;
    }
}
@media (max-width: 768px) {
    .contenedor-productos {
        flex-wrap: wrap; 
        width: 90%;
    }

    .tarjeta-producto {
        max-width: 48%;
        margin-bottom: 20px;
    }

    .imagen-producto {
        margin-right: 0;
        height: 200px;
    }

    .imagen-producto img {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .tarjeta-producto {
        max-width: 100%;
    }
}
@media (max-width: 768px) {
    #enlace .contenedor-productos {
        flex-wrap: wrap;
        width: 90%;
        gap: 10px;
    }

    #enlace .contenedor-productos div {
        width: 45%;
    }
}

@media (max-width: 480px) {
    #enlace .contenedor-productos div {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .destacados > div > div:nth-child(2),
    .destacados > div > div:nth-child(3) {
        flex-direction: column;
    }

    .destacados > div > div:nth-child(2) > div:nth-child(1),
    .destacados > div > div:nth-child(3) > div:nth-child(1) {
        width: 100%;
        margin: auto;
    }

    .destacados > div > div:nth-child(2) > div:nth-child(2),
    .destacados > div > div:nth-child(3) > div:nth-child(2) {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .destacados > div > div:nth-child(2) > div:nth-child(1) img,
    .destacados > div > div:nth-child(3) > div:nth-child(1) img {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .destacados > div > h2 {
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
    }

    .destacados > div > div:nth-child(2) > div:nth-child(2) p,
    .destacados > div > div:nth-child(3) > div:nth-child(2) p {
        font-size: 18px;
        font-family: 'Montserrat';
    }
}
/*  */


/* Zona Origen Info */
#nuestro-origen{
    padding-top: 3%;
}
.contenedor-origen {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

.imagen-origen img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #333;
    object-fit: cover;
}

.texto-origen {
    max-width: 550px;
    text-align: left;
}

.texto-origen h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.texto-origen p {
    font-size: 24px;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
}
@media (max-width: 1200px){
    .contenedor-origen {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        max-width: 800px;
        margin: auto;
    }
    .imagen-origen img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        border: 2px solid #333;
        object-fit: cover;
    }
    .texto-origen p {
        font-size: 20px;
        line-height: 1.6;
        font-family: 'Montserrat', sans-serif;
    }
}
/*  */


/* Zona Valores Info */
.seccion-otaku {
    padding-top: 3%;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 3%;
}

.titulo-principal {
    font-size: 36px;
    margin-bottom: 25px;
    text-align: center;
    margin-top: 0;
    font-family: 'Poppins', sans-serif;
}

.seccion-mision-valores {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.carta-mision,
.carta-valores {
    border-radius: 12px;
    padding: 20px;
    width: 280px;
    margin: 10px;
    text-align: center;
}

.icono {
    max-width: 100%;
    margin-bottom: 15px;
}

.texto-carta {
    font-size: 24px;
    line-height: 1.5;
    font-family: 'Montserrat';
}

.seccion-vision {
    margin-top: 20px;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
}

.icono-vision {
    max-width: 100%;
    width: 50%;
    margin-bottom: 15px;
}

.texto-vision {
    font-size: 24px;
    line-height: 1.5;
    font-family: 'Montserrat';
}
/*  */


/* Zona Banner 1 Catalogo */
.catalogo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.productos {
    display: flex;
    width: 100%;
}
.producto-in {
    flex: 1;
}
.producto-in img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
}
.producto-in img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* Zona Camisetas Catalogo */
.titulo-seccion {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.titulo-catalogo {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;
}

#catalogo-camisetas .contenedor-camisetas {
    display: flex;
    justify-content: center;
    gap: 9%;
    margin: auto;
    flex-wrap: wrap;
}

.camiseta {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 300px;
}

.imagen-camiseta img {
    width: 100%;
    border-radius: 10px;
    height: 300px;
    object-fit: cover;
}

#catalogo-camisetas .contenedor-camisetas > .camiseta p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 4% 0;
}

#catalogo-camisetas .contenedor-camisetas > .camiseta a {
    font-size: 24px;
    color: black;
    background-color: #FFD700;
    padding: 2% 9%;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

#catalogo-camisetas .contenedor-camisetas > .camiseta a:hover {
    background-color: #1ED8AB;
    font-family: 'Montserrat', sans-serif;
}

.banner-catalogo {
    padding-top: 4%;
    margin: auto;
    width: 70%;
    text-align: center;
}

.banner-catalogo img {
    width: 100%;
    height: 280px;
    object-fit:cover;
    border-radius: 10px;
}

/* Zona Slider Catalogo */
#catalogo-zapatillas #contenedor-zapatillas {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}
.zapatilla {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 2%;
}
.imagen-zapatilla img {
    height: 400px;
    object-fit: cover;
}
#zapa-izq{
    background-color: #0077BE;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    width: 50px;
    border-radius: 50%;
    margin-right: 2%;
    margin-top: 9%;
    border: 3px solid black;
    color: white;
}
#zapa-der{
    background-color: #0077BE;
    height: 50px;
    font-size: 30px;
    border-radius: 50%;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    width: 50px;
    margin-left: 2%;
    margin-top: 9%;
    border: 3px solid black;
    color: white;
}
#zapa-izq:hover{
    background-color: #FFD700;
    transition: 0.3s ease-in;
    color: black;
}
#zapa-der:hover{
    background-color: #FFD700;
    transition: 0.3s ease-in;
    color: black;
}
.text-zap{
    display: none;
}
.peq {
    height: 200px;
    opacity: 0.5;
    transform: scale(0.8);
}
.gra {
    height: 300px;
    opacity: 1;
    transform: scale(1);
}
#catalogo-zapatillas #contenedor-zapatillas > .zapatilla a {
    font-size: 22px;
    color: black;
    background-color: #FFD700;
    padding: 2% 9%;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
#catalogo-zapatillas  #contenedor-zapatillas > .zapatilla a:hover {
    background-color: #1ED8AB;
    font-family: 'Montserrat', sans-serif;
}
#catalogo-zapatillas #contenedor-zapatillas > .zapatilla p {
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-top: 12%;
}
@media (max-width: 1400px){
    #zapa-izq, #zapa-der{
        display: none;
    }
    .text-zap{
        display: block;
    }
    .peq, .gra{
        scale: 1;
        opacity: 1;
    }
}

/* Zona Pantalones Catalogo */
#catalogo-pant{
    padding-bottom: 3%;
}
#catalogo-pant #contenedor-pant {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    gap: 30%;
}
.pant {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.imagen-pant img {
    width: 400px;
    height: 700px;
    transition: transform 0.5s;
    /* object-fit: cover; */
}
.imagen-pant img:hover {
    transform: scale(1.2);
    padding-bottom: 13%;
}

#catalogo-pant #contenedor-pant > .pant a {
    font-size: 24px;
    color: black;
    background-color: #FFD700;
    padding: 2% 9%;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
#catalogo-pant  #contenedor-pant > .pant a:hover {
    background-color: #1ED8AB;
    font-family: 'Montserrat', sans-serif;
}
#catalogo-pant #contenedor-pant > .pant p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 4% 0;
}

.flecha.izquierda {
    left: 10px;
}

.flecha.derecha {
    right: 10px;
}

.flecha:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.activo {
    opacity: 1;
}

/* Zona Pantalon Catalogo */
#pantalon {
    max-width: 800px;
    text-align: center;
    margin: auto;
}
#pantalon h2{
    
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    padding-top: 2%;
    padding-bottom: 2%;
}
.producto {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}
.producto-titulo {
    background-color: #f0f0f0;
    padding: 2%;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
}
.producto-detalle {
    display: none;
    padding: 4%;
}
.producto-detalle p{
    text-align: center;
    font-size: 24px;
    padding-bottom: 2.5%;
    font-family: 'Montserrat', sans-serif;
}
.producto-detalle a{
    font-size: 24px;
    color: black;
    background-color: #FFD700;
    padding: 2% 9%;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.producto-detalle a:hover{
    background-color: #1ED8AB;
    font-family: 'Montserrat', sans-serif;
}
.producto img {
    max-width: 400px;
    height: auto;
    display: block;
    margin: auto;
}

/* Zona Complementos Catalogo */
.lista-productos {
    text-align: center;
    margin: auto;
    padding: 2%;
}
.lista-productos h2{
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    padding-top: 2%;
    padding-bottom: 2%;
}
.producto-comp {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 2%;
}

.producto-comp img {
    max-width: 400px;
    border-radius: 8px;
    margin-right: 2%;
}
.producto-comp .info {
    flex: 1;
}
.producto-comp p{
    padding-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}
.producto-comp h3{
    padding-bottom: 2%;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.producto-comp a {
    font-size: 24px;
    color: black;
    background-color: #FFD700;
    padding: 1% 4%;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.producto-comp a:hover {
    background-color: #1ED8AB;
    font-family: 'Montserrat', sans-serif;
}
@media (max-width: 596px){
    .producto-comp{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 300px;
        margin: auto;
    }
    .producto-comp img {
        max-width: 200px;
        border-radius: 8px;
        margin-right: 2%;
    }
}
/* Zona Noticias Blog */
#blog{
    text-align: center;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 2%;
}
#noticias .noticias-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2%;
}
#noticias h2{
    text-align: center;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 1%;
}
#noticias article {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    background-color: #fdfdfd;
}
#noticias img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
#noticias h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif;
}
#noticias a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: black;
}
#noticias p {
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
}

/*Zona Tendencias Blog*/
#tendencias {
    position: relative;
    padding: 2%;
    overflow: hidden;
    
}
#tendencias h2{
    padding-top: 4%;
    text-align: center;
    padding-bottom: 1%;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
}

.tendencias-carrusel {
    display: flex;
    
    gap: 2%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    padding-bottom: 10px;
}

.tendencia-item {
    flex: 0 0 80%;
    position: relative;
    scroll-snap-align: center;
    border-radius: 10px;
    overflow: hidden;
    
}

.tendencia-item img {
    width: 100%;
    height: 600px;
    border-radius: 10px;
    display: block;
}

.tendencia-texto {
    position: absolute;
    bottom: 10%;
    left: 5%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    border-radius: 8px;
    max-width: 90%;
}

.tendencia-texto h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin: 0;
}

.tendencia-texto p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin: 5px 0 0;
}

.tendencias-carrusel::-webkit-scrollbar {
    display: none;
}

.tendencias-carrusel {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.carrusel-botones {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -50px;
}

.carrusel-botones button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 50%;
    z-index: 10;
    transition: background-color 0.3s;
}

.carrusel-botones button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carrusel-botones button:active {
    transform: scale(0.9);
}

/*Zona Comunidad Blog*/
#comunidad {
    text-align: center;
}
#comunidad h2{
    text-align: center;
    padding-bottom: 1%;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
}
#comunidad p{
    text-align: center;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
}
#comunidad form {
    margin-top: 20px;
    display: inline-block;
    text-align: left;
    width: 100%;
    max-width: 400px;
    padding-bottom: 2%;
}
#comunidad label{
    padding-bottom: 1%;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif; 
}
#comunidad textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
}
#comunidad button {
    display: block;
    width: 100%;
    padding: 2%;
    background-color: #0078d7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Zona Mapa Localizacion */
#mapa{
    text-align: center;
    overflow: hidden;
}
#mapa h2{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: bold;
    padding-top: 2%;
}
#mapa iframe{
    width: 1200px;
    padding-top: 2%;
    padding-bottom: 2%;
}
@media (max-width: 1200px){
    #mapa iframe{
        width: 800px;
        padding-top: 2%;
        padding-bottom: 2%;
    }
}
@media (max-width: 800px){
    #mapa iframe{
        width: 600px;
        padding-top: 2%;
        padding-bottom: 2%;
    }
}

/* Zona Forms Localizacion */

.formm {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.formm h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

input,
select,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

textarea {
    resize: none;
    height: 100px;
}

.formmm{
    padding: 2%;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: #333;
    border: none;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.formmm:hover {
    background-color: #555;
}
.terms {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox label {
    font-weight: normal;
    font-size: 18px;
}
.link {
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
